html, body {
	font-family: cursive;, serif;
	/*takes out white gaps around whole page*/
	margin: 0;
	/*padding: 0;*/
}
	header {
	background-color: #FFF4D9;
	/*All padding the same*/
	padding: 10px 30px;
	/*Top/bottom 20px, right/left 40px*/
	/*padding: 20 40px;*/
	text-align: center;
}

h1 {
	font-size: 80px;
	color: royalblue;
	margin: 0;
	padding: 0;
}
h2 {
	padding: 0;
	margin-top: 30px;
	margin-bottom: 0;
}

header img {
	/*Rounds image borders*/
	border-radius: 180px;
	width: 270px;
	border: 8px solid hotpink;
}

.content {
	max-width: 900px;
	margin: 10px 30px;
	background-color: #B3D8FF;
	padding: 5px 15px;
}

img.big-image {
	max-width: 100%;
}

p.caption {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	color: darkgrey;
	font-style: italic;
	margin: 0;
}

ol {
	padding: 0px 20px;
	list-style-type: disc;
	/*text-align: left;*/
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: royalblue;
	text-decoration: none;
}

footer {
	margin: 20px 0px;
	padding: 20px 45px;
	background-color: snow;
}
footer ul {
	text-align: center;
}

footer ul li {
	display: inline-block;
	margin: 0 10px;
	font-family: Times;
	font-size: 12px;
}