html, body {
	font-family: Tahoma, serif;
	/*takes out white gaps around whole page*/
	margin: 0;
}
	header {
	background-color: #FFF4D9;
	/*All padding the same*/
	padding: 30px;
	/*Top/bottom 20px, right/left 40px*/
	/*padding: 20 40px;*/
	text-align: center;
}

h1 {
	font-size: 80px;
	color: royalblue;
	padding: 0;
}

header img {
	/*Rounds image borders*/
	border-radius: 180px;
	width: 270px;
	border: 8px solid hotpink;
}

.content {
	max-width: 900px;
	margin: 0 auto;
	background-color: #B3D8FF;
	padding: 0 20px;
}

img.big-image {
	max-width: 100%;
}

p.caption {
	font-size: 14px;
	color: darkgrey;
	font-style: italic;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: royalblue;
	text-decoration: none;

}